@model QLSieuThiWeb.Models.TKMK

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="login_form_container">
        <form asp-action="Login" class="login_form">
            <h2>Đăng nhập</h2>
            <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>

            <div class="input_group">
                <i class="fa fa-user"></i>
                <input asp-for="TK" class="input_text" placeholder="Tài khoản" autocomplete="off" />
            </div>

            <div class="input_group">
                <i class="fa fa-unlock-alt"></i>
                <input asp-for="MK" class="input_text" type="password" placeholder="Mật khẩu" autocomplete="off" />
            </div>

            <div class="button_group">
                <button type="submit">Đăng nhập</button>
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/js/login.js"></script>
</body>
</html> 